body {
    font: 1em 'Oxygen';
    margin:0;
}

.container {
    margin-top: 150px;
    width: 80%;
}

.box {
    /* background: #d1d1d1; */
    padding: 5px 20px;
}

form, textarea {
    font: 15px 'Oxygen Mono' !important;
    padding: 15px;
}

#header {
    background:#1d355dff;
    width: calc(100% - 40px);
    padding:5px 20px;
    position:absolute;
    top:0;
}

#header h1{
    color: #ffffff;
    display:block;
    padding: 0;
    margin: 10 0;
}

#header h2{
    color: #ffffff;
    padding-top: 10px;
    text-align: right;
    display:block;
}

.next {
    color: #1d355dff;
    margin: 0 auto;
    padding: 5px;
}

.next h1 {
    font-size:3em;
    margin: 0 auto;
    text-align: center;
}
